[submodule "goober"]
	path = goober
	url = https://github.com/abdulziaa/goober/
	branch = dev
[submodule "ascent-r3-drivers"]
	path = ascent-r3-drivers
	url = https://github.com/SEDS-RD-ASU/ascent-r3-drivers
	branch = main
